<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @my_model.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @my_model.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @my_model.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @my_model.suffix %>
</p>

<p>
  <strong>Twitter username:</strong>
  <%= @my_model.twitter_username %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @my_model.github_username %>
</p>

<p>
  <strong>Website:</strong>
  <%= @my_model.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @my_model.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @my_model.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @my_model.zipcode %>
</p>

<p>
  <strong>Street:</strong>
  <%= @my_model.street %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @my_model.car_year %>
</p>

<p>
  <strong>Car maker:</strong>
  <%= @my_model.car_maker %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @my_model.car_model %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @my_model.car_type %>
</p>

<%= link_to 'Edit', edit_my_model_path(@my_model) %> |
<%= link_to 'Back', my_models_path %>
